---
layout: resource
permalink: /GET/account/default_contact/

method: GET
resource: account/default_contact
summary: Show default contact information used for new domain registrations.
---

{% include request.html %}


{% capture response %}
{
  "first_name": "John",
  "last_name": "Smith",
  "company": "Acme, Inc.",

  "country": "US",
  "street": "1234 Main St. Apt #3",
  "city": "Beverly Hills",
  "state": "CA",
  "postcode": "90210",

  "phone": "+1.8005554321",
  "email": "j.smith@example.com"
}
{% endcapture %}

{% include response.html response=response %}
