---
layout: resource
draft: yes
permalink: /GET/account/billing/

method: GET
resource: /account/billing
summary: List all billing details associated with your account. Your account will need at least one active set of billing details in order to process domain registrations and renewals.
---

{% include request.html %}


{% capture response %}
[
  {
    "id": "AE386F356E82BBCAF66161B456BEE",
    "fingerprint": "43B593FCEE71FF86EC1EB8AEBA68D",
    "last4": "0123",
    "name": "John Smith",
    "exp_month": 1,
    "exp_year": 2038
  }
]
{% endcapture %}

{% include response.html response=response %}
