---
layout: resource
permalink: /PATCH/account/

method: PATCH
resource: account
summary: Update specific details for your account.
---

{% capture payload %}
{
  "username": "john-smith@example.com"
}
{% endcapture %}

{% include request.html payload=payload %}


{% capture response %}
{
  "username": "john-smith@example.com",

  <a href="./contacts/default/">"default_contact": {...}</a>,
  <a href="./nameservers/default/">"default_nameservers": [...]</a>,

  <a href="./billing/">"billing": [...]</a>
}
{% endcapture %}

{% include response.html response=response %}
