---
layout: resource
permalink: /GET/account/receipts/

method: GET
resource: /account/receipts
summary: List all receipts related to your account.
---

{% include request.html %}


{% capture response %}
[
  {
    "id": "23F442823DD5C19134E297349951B",
    "currency": "USD",
    "subtotal": 1490,
    "total": 1490,
    "items": [
      {
        "product": "domain",
        "type": "register",
        "domain": "example.com",
        "domain_utf8": "example.com",
        "quantity": 1,
        "amount": 1490
      }
    ],
    "download_url": "{{ site.endpoint }}{{ page.resource }}/23F442823DD5C19134E297349951B/download"
  }
]
{% endcapture %}

{% include response.html response=response %}
