---
layout: resource
permalink: /GET/domains/domain/services/

method: GET
resource: domains/:domain/services
summary: List all one-click services installed to the domain.
---

{% include request.html %}


{% capture response %}
[
  {
    "id": "A951A52B454C7D2919D7F1575987C",
    "service": "tumblr",
    "name": "Tumblr",
    "description": ...
  },
  {
    "id": "3A9EFC33CF2FD167B5C7E2E5DE996",
    "service": "github-pages",
    "name": "GitHub Pages",
    "description": ...
  }
]
{% endcapture %}

{% include response.html response=response %}
