---
layout: resource
draft: yes
permalink: /GET/domains/:domain/apps/

method: GET
resource: domains/:domain/apps
summary: List all apps and services installed to the domain.
---

{% include request.html %}


{% capture response %}
[
  {
    "id": "A951A52B454C7D2919D7F1575987C",
    "app": "tumblr",
    "name": "Tumblr",
    "description": ...
  },
  {
    "id": "3A9EFC33CF2FD167B5C7E2E5DE996",
    "app": "github-pages",
    "name": "GitHub Pages",
    "description": ...
  }
]
{% endcapture %}

{% include response.html response=response %}
