---
layout: resource
draft: yes
permalink: /POST/domains/:domain/apps/

method: POST
resource: /domains/:domain/apps
summary: Install an app or service to the domain by adding necessary DNS records and, for some apps, web forwarding.
---

{% capture payload %}
{
  "app": "tumblr"
}
{% endcapture %}

{% include request.html payload=payload %}


{% capture response %}
{
  "id": "A951A52B454C7D2919D7F1575987C",
  "app": "tumblr",
  "name": "Tumblr",
  "description": ...
}
{% endcapture %}

{% include response.html status=201 response=response %}
