---
layout: resource
permalink: /POST/domains/domain/services/

method: POST
resource: domains/:domain/services
summary: Install a service to the domain by adding necessary DNS records and, for some services, web forwarding.
---

{% capture payload %}
{
  "service": "tumblr"
}
{% endcapture %}

{% include request.html payload=payload %}


{% capture response %}
{
  "id": "A951A52B454C7D2919D7F1575987C",
  "service": "tumblr",
  "name": "Tumblr",
  "description": ...
}
{% endcapture %}

{% include response.html status=201 response=response %}
