---
layout: resource
draft: yes
permalink: /GET/domains/

method: GET
resource: /domains
summary: List all registered domain names.
---

{% include request.html %}


{% capture response %}
[
  {
    "domain": "xn--brsentrend-ecb.com",
    "domain_utf8": "börsentrend.com",
    "status": "active",

    "created": "1994-11-05T13:15:30Z",
    "updated": "1995-11-05T13:15:30Z",
    "expires": "1997-11-05T13:15:30Z",
    "renews": "1997-10-05T13:15:30Z",
    "auto_renew": true,

    "transfer_lock": true,
    "transfer_code": "mHS0B929ej",

    <a href="./:domain/contacts/">"contacts": {...}</a>,
    "mask_contacts": true,

    <a href="./:domain/nameservers/">"nameservers": [...]</a>,
    <a href="./:domain/apps/">"apps": [...]</a>,
    <a href="./:domain/records/">"records": [...]</a>,

    <a href="./:domain/pending/">"pending": [...]</a>
  }
]
{% endcapture %}

{% include response.html response=response %}
