---
layout: resource
permalink: /GET/domains/domain/pending/

method: GET
resource: domains/:domain/pending
summary: List all updates initiated on the domain that are still pending at the registry.
---

{% include request.html %}


{% capture response %}
[
  {
    "created_at": "1997-11-05T13:15:30Z",
    "payload": {
      "auto_renew": false,
      "transfer_lock": false
    }
  },
  {
    "created_at": "1997-11-05T13:15:30Z",
    "payload": {
      "nameservers": [
        "ns1.wordpress.com",
        "ns2.wordpress.com",
        "ns3.wordpress.com"
      ]
    }
  }
]
{% endcapture %}

{% include response.html response=response %}
