---
layout: resource
draft: yes
permalink: /GET/domains/:domain/records/

method: GET
resource: /domains/:domain/records
summary: List all DNS records for the domain.
---

{% include request.html %}


{% capture response %}
[
  {
    "id": "3E37DBAC37CBA935DBC53C5F1F37A",
    "name": "",
    "type": "A",
    "value": "66.6.44.4",
    "app": "Tumblr"
  },
  {
    "id": "1C389EFFE5A5335AAB1A89A4B7EE3",
    "name": "www",
    "type": "CNAME",
    "value": "domains.tumblr.com",
    "app": "Tumblr"
  }
]
{% endcapture %}

{% include response.html response=response %}
