---
layout: resource
draft: yes
permalink: /GET/products/:id/

method: GET
resource: /products/:id
summary: Show TLD-specific registration information.
---

{% include request.html %}


{% capture response %}
{
  "id": "com",
  "type": "tld",

  "tld": "com",
  "tld_utf8": "com",

  "description": ...,
  "image_url": ...,

  "can_transfer_lock": true,
  "can_mask_contacts": true,

  "price": {
    "USD": {
      "register": 1490,
      "renew": 1490,
      "transfer": 1000,
      "restore": 6000
    }
  }
}
{% endcapture %}

{% include response.html response=response %}
