---
layout: resource
draft: yes
permalink: /GET/products/

method: GET
resource: /products
summary: List of our products and their prices by currency.
---

{% include request.html %}


{% capture response %}
[
  {
    "product": "com",
    "type": "tld",
    "tld_url": "{{ site.endpoint }}/tlds/com",

    "price": {
      "USD": {
        "register": 1490,
        "renew": 1490,
        "transfer": 1000,
        "restore": 6000
      }
    }
  },
  {
    "product": "net",
    "type": "tld",
    "tld_url": "{{ site.endpoint }}/tlds/net",
    ...
  },
  {
    "product": "co.nz",
    "type": "tld",
    "tld_url": "{{ site.endpoint }}/tlds/co.nz",
    ...
  }
]
{% endcapture %}

{% include response.html response=response %}
