---
layout: resource
permalink: /GET/transfers/

method: GET
resource: transfers
summary: List all pending incoming and outgoing domain transfers.
---

{% include request.html %}


{% capture response %}
[
  {
    "type": "incoming",
    "domain": "example.com",
    "domain_utf8": "example.com",
    "status": "pending",
    "transfer_code": "l8RrnpWjq9",
    "created_at": "1994-11-05T13:15:30Z",
    "updated_at": "1994-11-05T13:15:30Z",
    "log": [
      {
        "created_at": "1994-11-05T13:15:30Z",
        "status": "initiated",
        "message": "Transfer confirmation email sent to registrant@example.com"
      }
    ]
  }
]
{% endcapture %}

{% include response.html response=response %}
