---
layout: container
---

{% for group in site.data.groups %}
	<section id="{{ group.name }}">
		<h1 id="{{ group.name }}">{{ group.name }}</h1>
		<p class="lead text-muted">{{ group.summary }}</p>
		
		<table class="table table-condensed">
			<thead>
				<tr>
					<th class="col-xs-4">Resource</th>
					<th>Summary</th>
				</tr>
			</thead>
			<tbody>
				{% for url in group.resources %}
					{% for doc in site.resources %}
						{% if url != doc.url %}{% continue %}{% endif %}
						<tr>
							<td>
								<a href="{{ site.baseurl }}{{ doc.url }}">
									<span class="method">{{ doc.method }}</span>
									{{ doc.resource }}
								</a>
							</td>
							<td>{{ doc.summary }}</td>
						</tr>
					{% endfor %}
				{% endfor %}
			</tbody>
		</table>
	</section>
{% endfor %}
