{% if include.query %}
  {% assign query = include.query | prepend:'?' %}
{% endif %}

{% assign content_type = include.content_type %}
{% if content_type == nil && include.response %}
	{% assign content_type = 'application/json' %}
{% endif %}

{% capture headers %}
{{ page.method }} {{ page.resource }}{{ query }} HTTP/1.1
Host: {{ site.endpoint }}
Accept: {% if include.accept %}{{ include.accept }}{% else %}application/json{% endif %}{% if include.payload %}
Content-Type: {{ content_type }}{% endif %}
{% endcapture %}

{% capture curl %}
curl -X {{ page.method }} \{% if include.payload %}
  -H 'Content-Type: {{ content_type }}' \
  -d '<span class="text-nowrap">{{ include.payload | strip_newlines | replace: "'", "\'" }}</span>' \{% endif %}
  {{ site.endpoint }}{{ page.resource }}{{ query }}
{% endcapture %}

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Request</h3>
	</div>
	<div class="panel-body">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#http-request" data-toggle="tab">HTTP</a></li>
			<li><a href="#curl-request" data-toggle="tab">cURL</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="http-request">
				<samp class="lang-http">{{ headers | trim }}</samp>
				{% if include.payload %}
				<hr>
				<samp class="lang-json">{{ include.payload | trim }}</samp>
				{% endif %}
			</div>
			<div class="tab-pane" id="curl-request">
				<samp class="lang-bash">{{ curl | trim }}</samp>
			</div>
		</div>
	</div>
</div>
