{% if include.query %}
  {% assign query = include.query | prepend:'?' %}
{% endif %}

{% assign content_type = include.content_type %}
{% if content_type == nil && include.response %}
	{% assign content_type = 'application/json' %}
{% endif %}

{% assign lang = include.lang %}
{% if lang == nil %}
	{% case content_type %}
	{% when 'application/json' %}
		{% assign lang = 'json' %}
	{% endcase %}
{% endif %}

{% capture headers %}
{{ page.method }} /{{ site.version }}/{{ page.resource }}{{ query }} HTTP/1.1
Host: {{ site.endpoint }}
Accept: {% if include.accept %}{{ include.accept }}{% else %}application/json{% endif %}{% if include.payload %}
Content-Type: {{ content_type }}{% endif %}
{% endcapture %}

{% capture curl %}
curl -X {{ page.method }} \{% if include.payload %}
  -H 'Content-Type: {{ content_type }}' \
  -d '<span class="text-nowrap">{{ include.payload | strip_newlines | replace: "'", "\'" }}</span>' \{% endif %}
  {{ site.endpoint }}/{{ site.version }}/{{ page.resource }}{{ query }}
{% endcapture %}

{% if site.data.javascript[page.url] %}
{% capture callback %}function (err, data) {
  // ...
}{% endcapture %}

{% capture js %}
var iwmn = new <a href="https://github.com/iwantmyname/iwmn-js">IWMN</a>('your API token here')

iwmn.{{ site.data.javascript[page.url] | replace: "callback", callback }}
{% endcapture %}
{% endif %}

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Request</h3>
	</div>
	<div class="panel-body">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#http-request" data-toggle="tab">HTTP</a></li>
			<li><a href="#curl-request" data-toggle="tab">cURL</a></li>
			{% if js %}
			<li><a href="#js-request" data-toggle="tab">JavaScript</a></li>
			{% endif %}
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="http-request">
				<samp class="lang-http">{{ headers | trim }}</samp>
				{% if include.payload %}
				<hr>
				<samp{% if lang %} class="lang-{{ lang }}"{% endif %}>{{ include.payload | trim }}</samp>
				{% endif %}
			</div>
			<div class="tab-pane" id="curl-request">
				<samp class="lang-bash">{{ curl | trim }}</samp>
			</div>
			{% if js %}
			<div class="tab-pane" id="js-request">
				<samp class="lang-js">{{ js | trim }}</samp>
			</div>
			{% endif %}
		</div>
	</div>
</div>
