{% assign status = include.status %}
{% unless status %}
	{% assign status = 200 %}
{% endunless %}

{% capture headers %}
HTTP/1.1 {{ status }} {{ site.data.statuses[status] }}{% if include.response %}
Content-Type: application/json{% endif %}
{% endcapture %}

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Response</h3>
	</div>
	<div class="panel-body">
		<samp class="lang-http">{{ headers | trim }}</samp>
		{% if include.response %}
		<hr>
		<samp class="lang-json">{{ include.response | trim }}</samp>
		{% endif %}
	</div>
</div>
