{% assign status = include.status %}
{% unless status %}
	{% assign status = 200 %}
{% endunless %}

{% assign content_type = include.content_type %}
{% if content_type == nil && include.response %}
	{% assign content_type = 'application/json' %}
{% endif %}

{% assign lang = include.lang %}
{% if lang == nil %}
	{% case content_type %}
	{% when 'application/json' %}
		{% assign lang = 'json' %}
	{% endcase %}
{% endif %}

{% capture headers %}
HTTP/1.1 {{ status }} {{ site.data.statuses[status] }}{% if content_type %}
Content-Type: {{ content_type }}{% endif %}
{% endcapture %}

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Response</h3>
	</div>
	<div class="panel-body">
		<samp class="lang-http">{{ headers | trim }}</samp>
		{% if include.response %}
		<hr>
		<samp{% if lang %} class="lang-{{ lang }}"{% endif %}>{{ include.response | trim }}</samp>
		{% endif %}
	</div>
</div>
