<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{% if page.title %}
			{{ page.title }} &mdash;
		{% elsif page.resource %}
			{{ page.method }} {{ page.resource }} &mdash;
		{% endif %}
		iwantmyname API
	</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/theme.css">
</head>
<body>
	{{ content }}

	<a href="https://github.com/iwantmyname/docs"><img style="position: fixed; top: 50px; right: 0; border: 0; width: 149px; height: 149px;" src="https://aral.github.io/fork-me-on-github-retina-ribbons/right-dusk-blue@2x.png" alt="Fork me on GitHub"></a>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/app.js"></script>
</body>
</html>
