---
layout: base
---

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<a href="{{ site.baseurl }}/" class="navbar-brand">iwantmyname API</a>

		<ul class="nav navbar-nav">
			<li class="dropdown">
				<a href="{{ site.baseurl }}/" class="dropdown-toggle" data-toggle="dropdown">Overview <b class="caret"></b></a>
				<ul class="dropdown-menu">
					{% for url in site.data.overview %}
						{% for doc in site.topics %}
							{% if url != doc.url %}{% continue %}{% endif %}
							<li><a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a></li>
						{% endfor %}
					{% endfor %}
				</ul>
			</li>
			<li class="dropdown">
				<a href="{{ site.baseurl }}/" class="dropdown-toggle" data-toggle="dropdown">Reference <b class="caret"></b></a>
				<ul class="dropdown-menu">
					{% for group in site.data.groups %}
						<li><a href="{{ site.baseurl }}/#{{ group.name | slugify }}">{{ group.name }}</a></li>
					{% endfor %}
				</ul>
			</li>
		</ul>
		<p class="navbar-text navbar-right">
			{% if page.title %}
				{{ page.title }}
			{% elsif page.resource %}
				{{ page.method }} {{ page.resource }}
			{% else %}
				Manage your domain names and DNS records programmatically with our RESTful API.
			{% endif %}
		</p>
	</div>
</nav>

<div class="container">
	<div class="alert alert-warning api-discussion-alert">
		<strong>Heads up!</strong>
		This API design and documentation is still undergoing debate and development. We'd love to have you join <a href="https://github.com/iwantmyname/docs/issues">our API discussion at GitHub</a>.
	</div>

	{{ content }}
</div>

<footer></footer>
